$header-height: 50px;
$nav-width: 85px;

@font-face {
  font-family: headerLogo;
  src: url(deftone-stylus.ttf);
}

header {
  display: grid;
  font-size: 18px;
  text-align: center;
  line-height: $header-height;
  background-color: #5DAC81;
  grid-template-columns: auto 1fr repeat(3, $nav-width);

  #header-menu {
    padding: 5px;
    display: grid;
    cursor: pointer;
    margin-left: 5px;
    grid-template-rows: repeat(3, 1fr);

    &:hover span {
      box-shadow: 1px 1px 2px 1px #888888;
    }

    span {
      height: 5px;
      margin-top: 4px;
      border-radius: 15em;
      background-color: black;
    }
  }

  #logo {
    color: #6F3381;
    min-width: 120px;
    margin-left: 10px;
    font-family: headerLogo;
  }
}

@media only screen and (min-width: 680px) {
  header {
    &.login-auth {
      grid-template-columns: auto 1fr repeat(4, $nav-width);

      .header-nav-item:nth-child(6) {
        font-size: 15px;
        line-height: $header-height / 2;
      }
    }

    #header-menu {
      display: none;
    }
  }
}

@media only screen and (max-width: 680px) {
  header {
    grid-template-columns: $header-height 1fr;

    &.menu-open {
      grid-template-columns: 50px repeat(3, 1fr);

      &.login-auth {
        grid-template-columns: 50px repeat(4, 1fr);

        .header-nav-item:nth-child(6) {
          font-size: 15px;
          line-height: $header-height;
        }
      }

      .header-nav-item {
        display: inline;
      }

      .hamburger-top {
        transform: rotate(45deg) translate(10px, 8px)
      }
      .hamburger-mid {
        opacity: 0;
      }
      .hamburger-bottom {
        transform: rotate(-45deg) translate(11px, -9px)
      }
    }

    #logo,
    .header-nav-item {
      display: none;
    }
  }
}

@media only screen and (max-width: 590px) {
  header.menu-open.login-auth {

    .header-nav-item:nth-child(6) {
      font-size: 15px;
      line-height: $header-height / 2;
    }
  }
}