{
  "extends": [
    "airbnb",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "globalReturn": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "allowImportExportEverywhere": true
    }
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y"
  ],
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true,
    "commonjs": true,
    "shared-node-browser": true
  },
  "parser": "babel-eslint"
}