{
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "allowImportExportEverywhere": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "commonjs": true,
    "shared-node-browser": true,
    "es6": true
  },
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "globals": {
    "window": true,
    "document": true
  }
}