#login-page {
  display: grid;
  padding: .83em 0;
  text-align: center;
  font-family: monospace;
  background-color: beige;
  grid-template-rows: repeat(2, 1fr) 2fr;

  .detail {
    font-size: 1em;
    line-height: 2em;
  }

  #login-form {
    width: 250px;
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(3, 1fr);

    .login-form-item {
      width: 250px;
      margin: 5px 0;
      font-size: 1rem;
    }

    input {
      border: none;
      outline: none;
      line-height: 35px;
      padding-right: 2px;
      box-sizing: border-box;
    }

    button {
      padding: 0;
      outline: none;
      color: white;
      border-width: 0;
      font-weight: 700;
      background-color: brown;
    }
  }
}