#intro-page {
  display: grid;
  text-align: center;
  grid-template-rows: repeat(3, 1fr);

  .intro-page-avatar {
    background-color: cornsilk;
    min-height: 300px;

    .avatar {
      margin: 30px 0 0;
      img {
        width: 150px;
        height: 150px;
      }
    }

    .description {
      font-family: monospace;

      ul {
        padding: 0;
        width: 400px;
        margin: 0 auto;

        li {
          list-style-type: none;

          &:first-child {
            font-size: 2.25em;
            font-weight: 700;
            line-height: 2.25em;
          }
        }
      }
    }

    .social-link {
      margin: 15px 0;

      .avatar-social-link {
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin-right: 3px;
        margin-bottom: 5px;
        display: inline-block;

        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  .intro-page-skill {
    display: grid;
    text-align: left;
    background-color: cornflowerblue;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}