.skill-bar {
  padding: 15px;
  font: inherit;

  span {
    width: 180px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
  }

  meter {
    width: 25em;
    height: 1.3em;
    overflow: hidden;
    border-radius: 5em;
    border: 1px solid #0063a6;
  }
}